$color-white: #FFFFFF;
$color-primary: #03045E;
$color-text: #00D68F;
$color-accent: #00B4D8;
$color-88ce2b6: #F1FAFB;
$color-847845c: #065E5D;
$color-5d4a162: #0D6A6A;
$color-d5d41f9: #00B4D8;
$color-afe8c3f: #DFF8F7;
$color-04b25ec: #CBFCFF;
$color-cff0b96: #BBF5DD;
$color-15f8b3b: #BBBBBB;
$color-086a3eb: #FFFFFFCF;
$color-3ae6949: #239291;
:host {
  display: block;
  min-height: 100vh;
}
