<section class="partners-section" [dir]="getDirection()">
  <div class="section-header">
    <span class="section-badge">{{ getTranslation('partners_title') }}</span>
    <h2 class="section-title">{{ getTranslation('partners-section.partners_title') }}</h2>
  </div>
  <div class="partners-container">
    <div class="partners-carousel-wrapper swiper swiper-initialized swiper-horizontal swiper-pointer-events">
      <div class="partners-carousel">
        <div class="partners-slide">
          <img src="/assets/images/home/logo1.png" [alt]="getTranslation('partner_logo_alt_1')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo2.png" [alt]="getTranslation('partner_logo_alt_2')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo3.png" [alt]="getTranslation('partner_logo_alt_3')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo4.png" [alt]="getTranslation('partner_logo_alt_4')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo5.png" [alt]="getTranslation('partner_logo_alt_5')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo6.png" [alt]="getTranslation('partner_logo_alt_6')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo7.png" [alt]="getTranslation('partner_logo_alt_7')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo8.png" [alt]="getTranslation('partner_logo_alt_8')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo10.png" [alt]="getTranslation('partner_logo_alt_10')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo11.png" [alt]="getTranslation('partner_logo_alt_11')" class="partner-logo">
        </div>

        <div class="partners-slide">
          <img style="color: black; background-color: black;" src="/assets/images/home/logo13.png" [alt]="getTranslation('partner_logo_alt_13')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo14.png" [alt]="getTranslation('partner_logo_alt_14')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo15.png" [alt]="getTranslation('partner_logo_alt_15')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo16test.jpg" [alt]="getTranslation('partner_logo_alt_16')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo17.png" [alt]="getTranslation('partner_logo_alt_17')" class="partner-logo">
        </div>
        <!-- Duplicate slides for seamless infinite loop -->
        <div class="partners-slide">
          <img src="/assets/images/home/logo1.png" [alt]="getTranslation('partner_logo_alt_1')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo2.png" [alt]="getTranslation('partner_logo_alt_2')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo3.png" [alt]="getTranslation('partner_logo_alt_3')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo4.png" [alt]="getTranslation('partner_logo_alt_4')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo5.png" [alt]="getTranslation('partner_logo_alt_5')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo6.png" [alt]="getTranslation('partner_logo_alt_6')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo7.png" [alt]="getTranslation('partner_logo_alt_7')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo8.png" [alt]="getTranslation('partner_logo_alt_8')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo9.png" [alt]="getTranslation('partner_logo_alt_9')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo10.png" [alt]="getTranslation('partner_logo_alt_10')" class="partner-logo">
        </div>
                <div class="partners-slide">
          <img src="/assets/images/home/logo11.png" [alt]="getTranslation('partner_logo_alt_11')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img style="color: black; background-color: black;" src="/assets/images/home/logo13.png" [alt]="getTranslation('partner_logo_alt_10')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo14.png" [alt]="getTranslation('partner_logo_alt_14')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo15.png" [alt]="getTranslation('partner_logo_alt_15')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo16test.jpg" [alt]="getTranslation('partner_logo_alt_16')" class="partner-logo">
        </div>
        <div class="partners-slide">
          <img src="/assets/images/home/logo17.png" [alt]="getTranslation('partner_logo_alt_17')" class="partner-logo">
        </div>
      </div>
    </div>
  </div>
</section>
